.menu {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  direction: ltr;

  // Mobile
  background-color: pink;

  .language-switch {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
  }

  .menu-link {
    white-space: nowrap;
  }
}


// فارسی
:host-context(html[dir='rtl']) {
  .menu-link {
    margin-left: auto;
    direction: rtl;
  }
}


// انگلیسی
:host-context(html[dir='ltr']) {
  .menu-link {
    margin-left: 30px;
    direction: ltr;
  }
}


// Tablet
@media (min-width: 768px) {
  .menu {
    background-color: lightgreen;
  }
}


// Laptop
@media (min-width: 1024px) {
  .menu {
    background-color: lightblue;
  }
}


// Large Desktop
@media (min-width: 1440px) {
  .menu {
    background-color: plum;
  }
}