.menu {
  display: flex;
  align-items: center;

  // خیلی مهم: چیدمان خود navbar همیشه از چپ شروع شود
  direction: ltr;

  padding: 12px 20px;

  .language-switch {
    display: flex;
    align-items: center;
    gap: 8px;

    // اجازه نده دکمه‌ها جابه‌جا یا جمع شوند
    flex-shrink: 0;

    button {
      padding: 6px 12px;
      cursor: pointer;
    }
  }

  .menu-link {
    white-space: nowrap;
  }
}


// انگلیسی
:host-context(html[dir='ltr']) {
  .menu-link {
    margin-left: 30px;
    margin-right: 0;
    direction: ltr;
  }
}


// فارسی
:host-context(html[dir='rtl']) {
  .menu-link {
    margin-left: auto;
    margin-right: 0;
    direction: rtl;
  }
}